<div class="container mt-5 mr-5">
  <div class="row">
    <ul>
      <li class="comment-create">
        <h3 class="text-left">コメント</h3>
      </li>
      <li id="comments_area">
        <%= render partial: 'comments/comments', locals: { comments: @comments } %>
      </li>
    </ul>
  </div>
  <div class="row">
  <% if user_signed_in? %>
    <div class="comment-create">
      <h3 class="text-left">コメントを投稿する</h3>
      <%= render partial: 'comments/newcomment', locals: { comment: @comment, post: @post } %>
    </div>
  <% end %>
  </div>
</div>