<div class="container">
  <div class="row py-5">
    <div class="col-12" style="height: 500px">
    <%= form_with model: @video, local: true do |form| %>
    <div class="field mb-3">
      <label>動画・画像のアップロード</label></br>
      <%= form.file_field :video %>
    </div>
    <div class="field1 mb-3">
     <label>説明</label></br>
      <%= form.text_area :caption %> 
    </div>
    
    <div class="#">
      <%= form.submit "作成する" ,class:"#" %>
    </div>
    <% end %>
    </div>
  </div>
</div>