<div>
<div class="image-container">
  <div class="theTarget">
    <div class="image1">
      <h1>地元</h1>
    </div>
    <div class="image2">
      <h1>Local</h1>
    </div>
    <div class="image3">
      <h1>고장</h1>
    </div>
    <div class="image4">
      <h1>स्थानीय<h1>
    </div>
    <div class="image5">
      <h1>родина</h1>
    </div>
  </div>
</div>
<div class="haas2">
    <p>違った街も見てませんか？</br>
      MY-HOMETOWNは日本や世界の地元を共有する</br>
      コミュニケーションツールとなっております。</br>
      ぜひ自分の地元の公園、カフェ、イベントなどを共有し、</br>
      世界中に自慢してみましょう
    </p>
</div>
</div>