<div class="container mr-md-5">
  <div class="row" id="wrapper">
    <div class="col">
      <div class="box" id="makeImg">
        <%= render 'videos/video', post: @post %>
        <div class="col m-3">
          <%= link_to  edit_post_path(@post), class:"btn btn-md btn-success shadow" do %>
            <i class="fas fa-user-cog mb-1"></i>編集する
          <% end %>
          <%= link_to "削除する",post_path(@post), method: :delete,class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>