/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
background-color:#343a4014;
}

//トップページレイアウト
.image-container{
  height: 700px;
  width: 100%;
  position:absolute;
}
.haas2{
  position: absolute;
  top: 610px;
  left: 36%;
  text-align: center;
  font-size: large;
  font-weight: bold;
  line-height: 40px;
}

.theTarget{
  height:60%;
  width:100%;
}
.image1 {
  background-image: image-url("image.1.jpg");
  height:100%;
  width:100%;
}
.image2 {
  background-image: image-url("image.2.jpg");
  height:100%;
  width:100%;
}
.image3 {
  background-image: image-url("image.3.jpg");
  height:100%;
  width:100%;
}
.image4 {
  background-image: image-url("image.4.jpg");
  height:100%;
  width:100%;
}
.image5 {
  background-image: image-url("image.5.jpg");
  height:100%;
  width:100%;
}

@media screen and (max-width: 500px){
  div .haas2{
    position: absolute;
    top: 450px;
    left: 18%;
    text-align: center;
    font-size: small;
    font-weight: bold;
    line-height: 40px;
  }
}

@media screen and (max-width: 500px) {
  .theTarget{
    height:40%;
    width:100%;
  }
}

//ヘッダーレイアウト
.navbar{
  height: 160px;
}
li {
  list-style: none;
}
.icon-image {
  margin-right: 100px;
}

.text-light2{
  margin-bottom: 25px;
  margin-right: 60px;
  margin-left: 30px;
}

@media screen and (max-width: 540px) {
  .navbar{
    height: 120px;
  }
}

@media screen and (max-width: 540px) {
  .icon-image img {
    margin-right: 100px;
    width: 90px;
    height: 90px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 540px) {
  #hm-icon {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .menu-trigger {
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    width: 30px;
    height: 24px;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #21252987;
    border-radius: 4px;
  }
  .menu-trigger span:nth-child(1) {
    top: 0;
  }
  .menu-trigger span:nth-child(2) {
    top: 10px;
  }
  .menu-trigger span:nth-child(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-child(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
    background-color: #fff;
  }
  .menu-trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-trigger.active span:nth-child(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
    background-color: #fff;
  }
}

@media screen and (max-width: 540px) {
  #sp-menu {
  position: fixed;
  top: 0;
  right: 0;
  background: #000;
  color: #fff;
  opacity: 0.5;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
  }

  #sp-menu h2 {
    margin: 10px;
  }

  #sp-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    line-height: 40px;
    display: block;
    margin: 40px;
  }
}




