// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
  height: 777px;
  width: 1300px;
}
/* パソコンサイズ（700px）以下の際に適用される設定 */
@media screen and (max-width: 1600px) {
  #map {
    width: 870px;
  }
}

@media screen and (max-width: 540px) {
  #map {
    display: none;
  }
}