// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 新規投稿レイアウト
.container1{
  position: relative;
}
.row2 {
  position: absolute;
  left: 20px;
}
#wrapper.row2 {
  height: 845px;
  width: 30%;
  overflow-y: scroll;
}
.col2 {
  padding-left: 20px;
}
#makeImg.box {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  margin-top: 30px;
  margin-left: 40px;
  border-radius: 10px;
  width: 450px;
  height: 500px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.57));
}

.profile{
  padding-top: 5%;
  padding-left: 5%;
  display: -webkit-inline-box;
}

.profile_user_name{
  margin-top: 10%;
  margin-left: 20%;
  display: contents;
}

b, strong{
  margin: 10px;
}

section{
  line-height: 2;
}

.likebuttons {
  margin-left: 25px;
}

.detailbuttons{
  margin-left: 3px;
}
p.caption{
  margin-left: 40px;
}

span.commentbuttons {
  margin-left: 3px;
  margin-right: 7px;
}
@media screen and (max-width: 1540px) {
  #wrapper.row2 {
    height: 690px;
    width: 35%;
    overflow-y: scroll;
  }
}
@media screen and (max-width: 1540px) {
  #makeImg.box{
    margin-left: 0px;
  }
  .col2 {
  padding-left: 5px;
  }
}
// コメントレイアウト
#js-comment-label-postsId{
  position: relative;
}
#js-comment-label-postsId.js-delete-comment-button{
  position: absolute;
  left: 10px;
}
.form-control{
  width: 400px;
}
// mapsレイアウト
.row1 {
  position: absolute;
  right:0;
}
.col1 {
  padding-right:0;
}



//videoレイアウト
.video_wrapper {
    position: relative;
    width:400px;
    height:250px;
    overflow: hidden;
    margin-left: 25px;
}

.video_wrapper > video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}